div.mainPage{  
    margin-left: 0px;
    margin-top: 0px; 
    padding-top: 20vh;
    overflow-y: hidden;
    height: calc(100% - 56px);
    width: 100%;
    position: absolute;
    background-image: url('/static/img/stars.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 30%;
    text-align: center
}

div.background { 
    background-color: whitesmoke;
    background-position: center;
    background-size: fill;
    background-position: 30% 30%;
    height: 100%;
    width: 100%;
    min-height:100vh;
}

div.selection { 
    width: 50% ; 
    margin-left: 25%;
}

div.mainPage button{ 
    background-color: white;
}

div.mainPage img { 
    width: 50% ; 
    height: 50% ;
    margin-left: 25%;
    margin-bottom: 20px;
}



@media only screen and (max-width: 900px) {


}