{% extends 'base.html' %}

{% block content %}
<div class="mainPage">
    <div class="row Selection">
        <div class="col-4">
            <div class="list-group" id="list-tab" 
                role="tablist" style="width: 250%; padding-left: 75%">
                <h5 class="list-group-item list-group-item-action active mb-1"
                    style="text-align: center; ">
                    Hearthstone Cards Application
                </h5>
                <a class="list-group-item list-group-item-action mb-1"
                    style="text-align: left ; "}} href='/'>
                        Cards
                </a>
                <form class="form-inline my-2 my-lg-1" action="/cards/results/">
                    <button 
                        class="btn btn-outline-success my-2 my-sm-0" 
                        type="submit">Search Cards</button>
                    <input 
                        class="form-control mr-sm-2" 
                        type="search" 
                        placeholder="Card Name" 
                        name="search">
                    
                </form>
                <div class="input-group mb-3">
                    <a href="/cards">
                        <div class="input-group-append">
                            <button 
                                class="btn btn-outline-secondary" 
                                type="button">
                                    Place Holder
                            </button>
                        </div>
                    </a>
                    <input type="text" class="form-control" 
                        placeholder="placeholder" 
                        name="searchPlayer" 
                    />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}