{% extends 'base.html' %}

{% block content %}
<h1> These are the Cards</h1>
<div class="background"> 
    <div className="container">
        <div className="row">
            {% for card in cards %}
                <div class="card myCard">
                    <div class="card-body">
                        <img src="{{ card.cropImage }}" />
                        <p style="color: black; text-align: center" class="card-text">
                            {{ card.name }}
                        </p>
                        <p class="card-text">
                            {{ card.text }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}