{% extends 'base.html' %}

{% block content %}
<div class="background"> 
    <div class="container">
        <div class="row">
            {% for card in cards %}
                {% if card.cropImage %}
                    <div class="card myCard">
                        <div class="card-body">
                            <img src="{{ card.cropImage }}" />
                            <p style="color: black; text-align: center" class="card-text">
                                {{ card.name }}
                            </p>
                        </div>
                    </div>
                </row>
                {% endif %}
            {% empty %}
                <p>Sorry, no cards found.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}